@keyframes particle-burst {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translate(calc(-50% + var(--end-x)), calc(-50% + var(--end-y))) scale(0);
    opacity: 0;
  }
}

.gooey-button-wrapper {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.gooey-particle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
}
